@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer components {
  .section-container {
    @apply min-h-screen flex items-center justify-center py-16;
  }
}
